<div class="row justify-content-center m-0">
    <div class="col-md-4 p-5">
        <h1 class="m-2"> URL Shortener </h1>
        <p class="m-2">Enter a URL to receive a short version of it</p>

        <form>
            <div class="m-2 w-100">
                <input class="form-control" type="url" placeholder="http://example.com" required="">
            </div> 
            <button class="btn btn-primary w-100 m-2">Shorten URL</button>
        </form>    
    </div>
</div>