    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col- p-5">
            <h1 class="m-2"> URL Shortened !</h1>
            <p class="m-2">Here is your shortened URL</p>
            <div class="m-2 w-100">
                <input class="form-control" type="url" placeholder="http://localhost:8080/?id=n83ngds" readonly="">
            </div> 
            <button class="btn btn-primary w-100 m-2"><i class="bi bi-clipboard-fill"></i> Copy to clipboard</button>
            
            <div class="text-center">
                <a class="link-secondary text-decoration-none" href="/"> Shorten another URL </a>
            </div>
        </div>
    </div>